@font-face {
  font-family: Dovahkiin;
  src: url('fonts/Dovahkiin.otf');
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  line-height: 1.5;
  background-color: black;
}

#background video {
  z-index: 0;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#content {
  position: static;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: fit-content;
  max-width: 80%;
}

#content h1 {
  align-self: center;
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.9);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  padding: 1%;
}

header {
  margin-top: 1%;
  margin-bottom: 1%;
  align-self: center;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

strong {
  font-weight: 800;
}

h1 {
  font-size: 2em;
  font-weight: bolder;
}

h2 {
  font-size: 1.5em;
  font-weight: bolder;
}

h3 {
  font-size: 1.17em;
  font-weight: bolder;
}

h4 {
  font-size: 1em;
  font-weight: bolder;
}

h5 {
  font-size: .83em;
  font-weight: bolder;
}

h6 {
  font-size: .67em;
  font-weight: bolder;
}

#refList {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 7px;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-left: 0.1vw;
  padding-right: 0.1vw;
  display: flex;
  justify-content: space-around;
}

#refList li {
  font-weight: 700;
  align-self: center;
}

#refList li a {
  display: block;
  color: black;
  border-radius: 7px;
  text-decoration: none;
  padding: 0.4vw;
  transition: 0.4s;
}

#refList li a:hover {
  transition: 0.4s;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  background-color: black;
  color: rgba(255, 255, 255, 0.9);
}

main {
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  padding: 1%;
  border-radius: 7px;
  flex-direction: column;
  text-align: justify;
  text-justify: distribute;
  word-break: normal;
  font-weight: 600;
}

main a {
  color: black;
}

main p {
  text-justify: distribute;
}

table {
  width: fit-content;
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

th {
  border: 1px solid black;
  border-collapse: collapse;
  font-weight: bolder;
}

td {
  padding: 0.2vw;
  border: 1px solid black;
  border-collapse: collapse;
}

footer {
  padding-top: 10%;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 600;
  text-align: center;
}

footer a {
  color: inherit;
}
