body {
  background-image: url("../images/sobg.webp");
  padding: 0;
  margin: 4;
  min-width: 1904px;
}

#contentBlock1 {
  display: flex;
  justify-content: space-between;
}

.wbbox {
  font-family: Arial, Helvetica, sans-serif;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: white;
  width: max-content;
}

ol.wbbox {
  padding-left: 20px;
}

ul.wbbox {
  padding-left: 20px;
}

.url {
  color: cadetblue;
}

em {
  color: thistle;
}

strong {
  color: darkcyan;
}
